body {
    background-color: #b8b6b6;
    box-shadow: 3px 3px 3px 3px black;
    z-index: 0;
    position: relative;
}


h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0 20px 0;
    color: white;
}
h3 {
    margin:0;
    padding: 20px 0 20px 0;
    color: white;
}
p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;

}
.barre_superieur {
    width: 90%;
    margin: auto;
    height: 80px;
    background-color:gray;
    padding-top: 10px;
    padding-left: 10px;
    border-top-right-radius: 1%;
    border-top-left-radius: 1%;

}

.container_image_profil {
    width: 10%;
    float: left;
}

.container_nom {
    width: 20%;
    float: left;
    
    
}
.container_image_profil  img {
    width: 70px;
}
.container_nom h2 {
    color: aliceblue;
}

.menu li {
    list-style-type:none;
    display: inline-block;
    height: 100%;
    position: relative;


}
.menu ul {
    margin: 0;
    padding: 20px;
    text-align: center;
    
}
.menu {
    background-color:#3e3535;
}
.menu ul li ul li{
    display: block;
    height: 35px;
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px; 
}

.menu ul li ul li a{
    color:gray;
    padding:0;
}



.menu ul li ul{
    position: absolute;
    height: 70px;
    padding: 0;
    width: 100px;
    top:20px;
    left: 5px;
    display: none;
   
}



.menu ul li:hover ul{
    display: block;
    border-radius: 20px;



}

.menu ul li ul li:hover{
    background: gray; 
    

}

.menu ul li ul li:before{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content:" ";
}

.menu ul li ul li a {
    display: inline-block;
}

.menu ul li ul li:hover a{
    color: white;

}
.menu li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding: 20px;
}
.menu li a:hover {
    color: #a9a0a0;
}

.container_grande_image img {
    width: 100%;
}

.article1{
    display: inline-block;
    width: 49.7%;
    padding:0 20px 0 30px;
    text-align: justify;
    font-style: italic;
    box-sizing: border-box;
}

.article2{
    display: inline-block;
    width: 49.7%;
    text-align: justify;
    padding:0 30px 0 20px;
    box-sizing: border-box;
}

.section_article {
    width: 90%;
    margin: auto;
    padding: 30px 0px 30px 0;
    background-color: gray;
}

.punchline {
    clear: left;
    padding:30px 30px 30px 30px;
    background-color: #3e3535;
}

.punchline p{
    font-size: 40px;
    font-weight: 600;
    color:white;
    margin: 0;
    text-transform: uppercase;  

}

.tableau_et_paragraphe {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    background-color: gray;
}

.tableau_et_paragraphe h2 {
   padding: 20px 30px 50px 30px;
}

.tableau_et_paragraphe p {
    font-style: italic;
    padding: 20px 30px 50px 30px;
}

.tableau_et_paragraphe h3 {
    padding: 40px 30px 20px 30px;
}


.tableau_page1 td {
    height: 200px;
    border: 1px solid black;
    
}
.tableau_page1 {
    width: 90%;
    border-collapse:collapse;
    margin: auto;

}




.container_footer {
    background: #000;
    height: 200px;
    padding-top: 40px;
}
.container_footer ul {
    float: left;
    width: 20%;
}

.container_footer ul a {
    text-decoration: none;
    color: white;
    
}
.container_footer ul a:hover {
    text-decoration: underline;
    color: white;
    
}

.container_footer ul li {
    list-style-type: none;
    margin: 7px;
    text-align: center;
}

.container_moyenne_image img{
    width: 100%;
    height: 500px;
}


.container_article {
    width: 90%;
    margin: auto;
}

.container_article_gauche {
    display: inline-block;
    width: 70%;
    
}

.container_article_gauche p{
  text-align: justify;
  margin: 0;
}

.container_article_droite {
    display: inline-block;
    width: 29%;
    position:absolute;
}

.container_article_droite ul li{
   list-style-type: upper-roman;
   text-align: right;
   list-style-position: inside;
   margin-bottom: 7px; 
}


.container_article_droite ul ul li{
    list-style-type:decimal;
 }
.container_article_gauche img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}


.container_article_droite li a{
    text-decoration: none;
    color: black;   
   
}

.container_article_droite li a:hover{
    text-decoration:underline;  
    color: black;   
   
}
.container_article_droite >ul{
    width: 60%;
    margin: auto;
    padding: 0;
 }



.drapeau_grec td{
    height: 30px;
    width: 50px;
    border: 0;
}

.drapeau_grec {
    width: 700px;
    height: 400px;
    margin: auto;
    border-collapse: collapse;
    
}

.container_tableau {
    width: 90%;
    margin: auto;
    margin-bottom: 55px;
}

.container_tableau h2 {
    width: 700px;
    margin: 40px auto;
}